.item {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  font: var(--dsw-font-xs-13);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--dsw-alias-label-primary);
}

.item:hover {
  background: var(--dsw-alias-interactive-bg-hover);
}

.itemLabel {
  font: var(--dsw-font-xs-strong-13);
}

.itemSub {
  font: var(--dsw-font-xxxs-11);
  color: var(--dsw-alias-label-caption);
}
